.header {
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: grey;
  color: #f1f1f1;
   z-index: 9999;
}
body {
  margin: 0px;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.logo img {
  width: 5%;
  height: auto;
  object-fit: cover;
}

.logo {
    display: flex;
    align-items: center; 
    justify-content: space-between;
  }

.marginpractice {
  margin-left: 5%;
  margin-right: 5%;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}



.dropbtn {
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
}
  .dropbtn img {
    width: auto;
    height: 10px;
    object-fit: contain;
  }


.dropdown {
  position: relative;
  display: inline-block;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* Media query for responsive design */
@media screen and (max-width: 650px) {
  .row {
    flex-direction: column;
  }
.logo img {
  width: 10%;
  height: auto;
  object-fit: cover;
}
}